.env
.netlify
node_modules
.expo
dist
build
__pycache__
*.pyc
.pytest_cache
.venv
newsreels.db
apps/api/test.db
apps/api/worker_test.db
apps/api/newsreels.db

.idea
.vscode
*.egg-info
.DS_Store
web-build
coverage
.coverage
htmlcov
*.log
apps/mobile/.expo
apps/api/.pytest_cache
apps/worker/.pytest_cache
news.db
apps/api/news.db
